body{
    background-color: #2F2F2F;
    color: orange;
}
.margin{
    padding: 0 30px;
}

#splash {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    height:100vh;
}

hr {
    color:white;
}

.search{
    margin-bottom: 2em;
}

/*gallery*/
.thumb {
    margin-bottom: 5%;
    height: 20vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thumb img {
    border-radius: 5px;
    width: 100%;
    height: 20vh;
    object-fit: cover;
    z-index: 0;
}

.btn-thumb{
    width: 25%;
    background-color: orange;
    border:none;
}

.name{
    background-color: #000;
    color: #FFF;
    z-index: 1;
    opacity: 0.5;
    display:none;
    width: 100%;
    height: 90%;
    margin:0;
    padding: 0;
}

.flex {
    display: inline-flex;
}

#thumb_01 {
    background-image: url(../img/chinese_1.jpg);
}

#thumb_02 {
    /*background-image: url(../img/chinese_2.jpg);*/
}

#thumb_03 {
    /*background-image: url(../img/italian_1.jpg);*/
}

#thumb_04 {
    /*background-image: url(../img/italian_2.jpg);*/
}

#thumb_05 {
    /*background-image: url(../img/japanese_1.jpg);*/
}

#thumb_06 {
    /*background-image: url(../img/japanese_2.jpg);*/
}

#thumb_07 {
    /*background-image: url(../img/mexican_1.jpg);*/
}

#thumb_08 {
    /*background-image: url(../img/mexican_2.jpg);*/
}

.modal_img {
    width: 100%;
}


